@charset "ISO-8859-1";
 #login-form {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	background: #f2f2f2;
}

#login-form h1 {
	text-align: center;
	margin: 0 0 10px 0;
}

#login-form input {
	box-sizing: border-box;
	width: 100%;
	margin: 10px;
	padding: 10px;
}

#login-form input[type=submit] {
	border: 0;
	background: #4367c4;
	color: #fff;
}

#login-div {
	padding-top: 230px;
}

.login-fields1 {
	padding-top: 250px;
}

body {
 background-image: url("../images/exp.jpg");
}